

@include keyframes(twinkle) {
    0%, 100% {
        transform: translate3d(-40px, 0, 0);
        opacity: 0.2;
    }
    50% {
		transform: translate3d(-40px, 0, 0);
        opacity: 0.7;
    }
}
@include keyframes(float-nebula) {
    0%, 100% {
        background-position-x: right;
    }
    50% {
        background-position-x: left;
    }
}